# Makefile
Makefile.local

# DatabaseSettings
database-settings.local-production.json

# Docker Compose
docker-compose-local.yml
docker-compose-parser.yml
docker-compose-development.yml
docker-compose-database.yml

# Firebase OAuth Configuration
firebase-key.json

# VS Code Launch Json
.vscode/launch.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# XUnit Test Reports
[Tt]estReports

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# React Build
/build/
build/

# node_modules
node_modules/
/node_modules/

# Mac OS
.DS_Store
