# Local Makefile
scripts/make/local

# DatabaseSettings
database-settings.local-production.json

# Docker Compose
database-environment.yml
database-environment-postgres.yml
dashboard-environment.yml
dashboard-environment-postgres.yml
webapi-environment.yml
webapi-environment-postgres.yml
rabbitmq-environment.yml

# Firebase OAuth Configuration
firebase-key.json
google-analytics-key.json

# VS
.vs/

# .NET Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# XUnit Test Reports
[Tt]est[RrT]eports

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# React Build
/build/
build/

# node_modules
node_modules/
/node_modules/

# Mac OS
.DS_Store

# Visual Studio
.vs/
*.csproj.user

# Properties Folder launchSettings.json
**/Properties/launchSettings.json

# .csproj.user .NET projects
*.csproj.user

# log files
*.log

# Generated Icons
**/wwwroot/Icons/
