@inherits NumberInputBase

<div class="col-md-6 mb-3">
  <label for="number-input">@(Headline)</label>
  <input id="number-input" type="number" class="form-control @(ValidationClass)" @bind="@(Value)" />
  <div class="invalid-feedback">@(ValidationMessage)</div>
</div>
