@page "/account/login"
@inherits LoginBase

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@User" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="User.Email" class="form-control" />
                <ValidationMessage For="@(() => User.Email)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="User.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => User.Password)" />
            </div>
            <button disabled="@Loading" class="btn btn-primary">
                @if (Loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>

                }
                Login
            </button>
            <NavLink href="account/login" class="btn btn-link">Cancel</NavLink>
        </EditForm>
        @if (ErrorMessage is not null)
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>
        }
    </div>
</div>
