@page "/settings/edit/{Id:int}"
@inherits EditSettingsBase
@using Espresso.Dashboard.Pages.Settings.EditSettings.JobsSettings
@using Espresso.Dashboard.Pages.Settings.EditSettings.ArticleSettings
@using Espresso.Dashboard.Pages.Settings.EditSettings.SimilarArticlesSettings
@using Espresso.Dashboard.Pages.Settings.EditSettings.NewsPortalSettings

<form>
  <div class="form-group">

    <EditArticleSettings ArticleSettingState="SettingsState.ArticleSettingState" IsValidChanged="@(OnIsValidChanged)" />
    <EditJobsSettings JobsSettingState="SettingsState.JobsSettingState" IsValidChanged="@(OnIsValidChanged)" />
    <EditSimilarArticlesSettings SimilarArticlesState="SettingsState.SimilarArticlesState" IsValidChanged="@(OnIsValidChanged)" />
    <EditNewsPortalSettings NewsPortalSettingState="SettingsState.NewsPortalSettingState" IsValidChanged="@(OnIsValidChanged)" />

  </div>
  <button type="submit" class="btn btn-primary" @onclick="OnSubmit" @onclick:preventDefault="true">
    Submit
  </button>
</form>
