@page "/settings/edit/{Id:int}"
@inherits EditSettingsBase
@using Espresso.Dashboard.Pages.Settings.EditSettings.JobsSettings
@using Espresso.Dashboard.Pages.Settings.EditSettings.ArticleSettings

<form>
  <div class="form-group">

    <EditArticleSettings SettingsState="SettingsState" IsValidChanged="@(OnIsValidChanged)" />
    <EditJobsSettings SettingsState="SettingsState" IsValidChanged="@(OnIsValidChanged)" />

  </div>
  <button type="submit" class="btn btn-primary" @onclick="OnSubmit" @onclick:preventDefault="true">
    Submit
  </button>
</form>
