<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Espresso RuleSet" Description="Espresso RuleSet" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <!-- Missing XML comment for publicly visible type or member  -->
    <Rule Id="CS1591" Action="None" />
  </Rules>

  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <!-- RCS1090: Add call to 'ConfigureAwait' (or vice versa) -->
    <Rule Id="RCS1090" Action="None" />

  </Rules>

  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <!-- Methods should not have identical implementations -->
    <Rule Id="S4144" Action="None" />

    <!-- Refactor your code not to use hardcoded absolute paths or URIs. -->
    <Rule Id="S1075" Action="None" />

  </Rules>

  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <!-- "Use "Async" suffix in names of methods that return an awaitable type. " -->
    <Rule Id="VSTHRD200" Action="None" />

    <!-- VSTHRD101 Avoid unsupported async delegates -->
    <Rule Id="VSTHRD101" Action="None" />

  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- "Use "Async" suffix in names of methods that return an awaitable type. " -->
    <Rule Id="SA1200" Action="None" />

    <!-- The file header is missing or not located at the top of the file. [Espresso.Application] -->
    <Rule Id="SA1633" Action="None" />

    <!-- Prefix local calls with this -->
    <Rule Id="SA1101" Action="None" />

    <!-- The keyword 'new' should be followed by a space. -->
    <Rule Id="SA1000" Action="None" />

    <!-- Closing parenthesis should not be preceded by a space. -->
    <Rule Id="SA1009" Action="None" />

    <!-- Closing parenthesis should be on line of last parameter -->
    <Rule Id="SA1111" Action="None" />

    <!-- The Parameter spans multiple lines -->
    <Rule Id="SA1118" Action="None" />

    <!-- Field should not begin with an underscore [Espresso.Application] -->
    <Rule Id="SA1309" Action="None" />

    <!-- 'protected' members should come before 'private' members -->
    <Rule Id="SA1202" Action="None" />

    <!-- A constructor should not follow a property -->
    <Rule Id="SA1201" Action="None" />

    <!-- A field name in C# contains an underscore. -->
    <Rule Id="SA1310" Action="None" />

    <!-- The name of a static readonly field does not begin with an upper-case letter. -->
    <Rule Id="SA1311" Action="None" />

    <!-- A field name in C# is prefixed with m_ or s_. -->
    <Rule Id="SA1308" Action="None" />

    <!-- A static element is positioned beneath an instance element of the same type. -->
    <Rule Id="SA1204" Action="None" />

    <!-- SA1636 File header copyright text should match -->
    <Rule Id="SA1636" Action="None" />

    <!-- The file name of a C# code file does not match the first type declared in the file. For generics that are defined as Class1  <T> the name of the file needs to be Class1{T}.cs or Class1`1.cs depending on the fileNamingConvention setting -->
    <Rule Id="SA1649" Action="None" />

  </Rules>


</RuleSet>
